/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: "bodyfont";
  src: url(Adhesian-Thin.ttf) format('truetype');
  font-weight: normal;
  font-size: 10px;
}

@font-face {
  font-family: 'headerfont';
  src: url(KleinSlabserif-light.ttf) format('truetype');
  font-weight: normal;
  font-size: large;
}

html {
  font-family: 'bodyfont', serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'headerfont' serif;
  letter-spacing: 3px;

}

h2 {
  font-family: 'headerfont', serif;
  letter-spacing: 3px;
}

body {
  line-height: normal;
  letter-spacing: 1px;
  word-spacing: 3px;
}

section :is(h1, h2) + p {
  text-indent: 20px;
}

a {
  color: #a66;
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: #a50;
  text-decoration: none;
}

a:focus {
  color: #a75;
}

a:active {
  text-decoration: bold;
}

a:visited {
  color: #a40;
}